In [1]:
# Import Dependencies
import pandas as pd
import numpy as np
import requests
from pprint import pprint
import os

In [2]:
# Webscraping for Top 250 Beers - BeerAdvocate
headers = {'Accept-Encoding': 'identity'}
r = requests.get("https://www.beeradvocate.com/beer/top-rated/", headers=headers)

# Read Data into DataFrame
response_data = pd.read_html(r.text, header=0)
df = response_data[0]

# Drop Unnecessary Column
df.drop(columns='You', axis=1, inplace=True)

# Rename Columns for Readability
df.rename(columns={
    df.columns[0]:'Rank', df.columns[1]:'Beer', df.columns[2]:'# of Ratings', df.columns[3]:'Avg. Rating'
    }, inplace=True)

In [3]:
# Display Preview of DF
display(df.head())

,Rank,Beer,# of Ratings,Avg. Rating
0,1,Kentucky Brunch Brand Stout Toppling Goliath B...,911,4.83
1,2,Vanilla Bean Assassin Toppling Goliath Brewing...,135,4.80
2,3,Marshmallow Handjee 3 Floyds Brewing Co. Russi...,1798,4.73
3,4,Abraxas - Barrel-Aged Perennial Artisan Ales A...,1661,4.73
4,5,Hunahpu's Imperial Stout - Double Barrel Aged ...,1663,4.72

In [4]:
# Push to CSV File
df.to_csv(os.path.join('..','Outputs','Beer Rankings (Top 250).csv'),index=False)